body {
background-color: tan;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link {
  text-decoration: none;
  background-color: blueviolet;
}

.link-a {
  color: #001e1d;
  text-decoration: none;
  text-align: center;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
