body {
  background-image: url("/media/NeoCity.jpg");
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Tilt Warp', cursive;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.name {
  display: flex;
  justify-content: center;
  color: azure;
  font-size: 40px;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image{
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  border: solid white 5px;
  box-shadow: rgb(241, 4, 193) 3px 8px 8px 3px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}

.social-icons a {
  color: greenyellow;
  text-decoration: none;
  width: 28px;
  height: 28px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link{
  background-image: url("/media/bbls.gif");
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border-radius: 50px;
  justify-content: space-around;
  border: solid black 5px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.link a {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  padding: 5px;
  border-radius: 50px;
  font-size: 25px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
